body {
    display: flex;
    flex-direction: column;
    background-image: url(../img/sakura.webp);
    background-repeat: repeat;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: whitesmoke;

    margin-top: -9px;
    margin-left: -8px;
    padding-right: 16px;
    width: 100%;
   
    z-index: 100;
}

.logo {
    width: 200px;
    height: 100px;    
}

.heading {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.links {
    display: flex;
    flex-direction: row;
}

.header-button, .header-button-logout {
    padding: 44px 12px;
    background-color: whitesmoke;
    border: none;
    
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.header-button-logout {
    padding-left: 25px;
    padding-right: 25px;
}

.header-button:hover, .header-button-logout:hover {
    background-color: #333;
    color: white;
}