.post-marks {
    margin-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.post-marks-inputs {
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 50px;
}

.post-marks-inputs select, .post-marks-inputs input {
    width: 20%;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid black;
}

.post-marks-inputs button {
    width: 10%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: white;
    transition: padding 0.5s, width 0.5s;
    cursor: pointer;
}

.post-marks-inputs button:disabled:hover, input[type=submit]:disabled:hover {
    cursor: not-allowed;
}

.post-marks-inputs button:hover {
    width: 12%;
    padding: 10px 20px;
}

.textbox {
    width: 80%;
    height: 100px;
    font-family: 'Arial';
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    border: 2px solid black;
}

.iterative-inputs {
    display: flex;
    flex-direction: column;
}

.iter-marks-form {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.iter-marks-form input {
    width: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
