.time-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 40px;
}

.table {
    border: 1px solid black;   
}

.table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 113, 245);
}

.table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}