.time-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-table {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    padding-bottom: 40px;
}

.table {
    border: 1px solid black;   
}

.table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(199, 113, 245);
}

.table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.total-attendance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 6px;
    border: 2px solid rgb(64, 239, 64);
    box-shadow: 2px 2px 4px 6px rgba(64, 239, 64, 0.2);
    margin-left: 500px;
    margin-right: 500px;
}